.main {
  width: 100%;
  padding: 4rem 0rem 0rem 0rem;
  box-sizing: border-box;
  position: relative;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  @media (max-width: 768px) {
    overflow: auto;
    height: 100%;
    width: 100vw;
  }
}
