.main {
  width: 100%;
  padding: 5rem 1rem 5rem 1rem;
  box-sizing: border-box;
  position: relative;
  height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  @media (max-width: 500px) {
    overflow: auto;
    height: 100%;
    width: 100vw;
  }
}
