* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
body {
  font-size: 90%;
}
.App::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: -webkit-fill-available;
  background-image: url("../images/Microsoft_login_screen.svg.png");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
  filter: saturate(3);
  overflow-y: hidden;
}
.App {
  overflow-x: hidden;
  height: 100%;
  max-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: hidden;
}

.dark {
  background-color: rgb(0 0 0 / 75%);
  backdrop-filter: brightness(0.5);
}
