.pendingBox {
  color: salmon;
  width: 100%;
  padding: 1rem 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reloadButton {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.container {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0rem auto;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}
.infoBar {
  width: 100%;
  padding: 0.5rem 0rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.expenseValue {
  font-size: large;
  font-weight: bold;
}
.downloadButton {
  border-radius: 5px;
  border: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-style: italic;
}
.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden;
  /* @media (max-width: 500px) {
    flex-direction: column-reverse;
  } */
}
.left {
  width: min-content;
  /* @media (max-width: 500px) {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    z-index: 1000;
  } */
}
.right {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

.controls {
  width: 100%;
  background-color: white;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.typeButtons {
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-align: center;
  padding: 5px 8px;
  color: inherit;
}
.active {
  border-bottom: 3px solid cornflowerblue;
  color: cornflowerblue;
}
.activeIncome {
  border-bottom: 3px solid #53e373;
  color: #53e373;
}
.activeExpenses {
  border-bottom: 3px solid #fa6467;
  color: #fa6467;
}
.sort {
  padding: 5px;
  border-radius: 5px;
}
.controlsRight {
  display: grid;
  gap: 1rem;
}
.filterButton {
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 1px;
}
.expenses {
  height: auto;
}
.pagination {
  /* background-color: orange; */
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
}
.paginationButtons {
  background-color: lavender;
  padding: 5px;
  border: 1px solid grey;
}
.paginationActive {
}
