.container {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 1rem 0rem;
  width: 100% !important;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.invert {
  filter: invert(1);
  background-color: white;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.button {
  padding: 5px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: inherit;
}
.active {
  border-bottom: 3px solid cornflowerblue;
  color: cornflowerblue;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.noTransactionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noTransactionsText {
  font-size: 1rem;
  font-weight: bold;
}
.noTransactionsImage {
  background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/no-payment-method-8316265-6632285.png?f=webp");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
