.main {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  height: 100vh;
  border-right: 1px solid lightgray;
  @media (max-width: 500px) {
    position: absolute;
    width: 100%;
    height: 4rem;
    display: flex;
  }
}
.maindark {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  height: 100vh;
  border-right: 1px solid rgb(77, 77, 77);

  @media (max-width: 500px) {
    position: absolute;
    width: 100%;
    height: 4rem;
    display: flex;
  }
}
.head {
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0rem 2rem;
}
.hidehead {
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0rem 2rem;
  padding: 0rem 1rem 0rem 2rem;
  @media (max-width: 500px) {
    display: none;
    position: fixed;
    bottom: 0;
  }
}
.body {
  padding: 1rem 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  @media (max-width: 500px) {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10000;
    border-top: 1px solid lightgrey;
  }
}
.logo {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/spendwiseLogoLatest.png");
  aspect-ratio: 2.5;
}
.logoSquare {
  height: 1.8rem;
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../images/spendwiseLogoSquare.png");
  @media (max-width: 500px) {
    display: none;
  }
}
.pageLink {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: start;
  font-size: 0.8rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin: 1rem 0rem;
  gap: 2rem;
}
.hidepageLink {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: start;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 1rem 0rem;
}
.pageLink:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}
.icons {
  font-size: 1.4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forward {
  font-size: 0.8rem !important;
}
.hideforward {
  display: none !important;
}
.text {
}
.hidetext {
  display: none;
}
